html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    overflow-y: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    padding: 10px 30px 0 0;
}

li {
    display: inline;
    padding: 5px;
}

#grid {
    width: 20px;
}

#notification {
    width: 20px;
    background-color: black;
    border-radius: 100%;
}

#google-acc {
    width: 30px;
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.main {
    text-align: center;
    padding: 100px 0 0 0;
}

.main input[type='text'] {
    width: 600px;
    height: 35px;
    padding: 0 5px;
    background-image: url('../img/google-voice.png');
    background-position: 590px 7px;
    background-repeat: no-repeat;
    background-size: 15px;
    border: 1px solid rgb(204, 204, 204);
}

button {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    font-size: 1em;
    border: 0;
    color: darkslategray;
    background: rgba(204, 204, 204, .3);
    border-radius: 2px;
}

a { 
    text-decoration: none;
    color: darkslategray;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(204, 204, 204, .5);
    border: 2px;
    box-shadow: 1px 1px 1px;
}

.footer ul {
    position: relative;
    margin-top: 15px;
}

.footer li {
    padding: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}